@import '../variables.scss';
footer {
  max-height: 0;
  overflow: hidden;
  height: 0;
  transition: all 0.3s ease-in-out;
  &.visible {
    max-height: 50px;
    overflow: visible;
    transition: all 0.3s ease-in-out;
    height: 50px;
    .footer-add-new {
      top:-25px;
      opacity: 1;
    }
  }
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background: white;
  padding:0 20px;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.19);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  .footer-add-new {
    transition: all 0.1s linear;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    top:0px;
    width: 60px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      position: absolute;
      width: 60px;
      height: 56px;
      top:0;
      left: 0;
      &.plus-icon {
        width: 24px;
        height: 24px;
        position: relative;
      }
    }
  }

  .group-icons {
    width: calc(50% - 70px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 30px;
    }
  }
  .notification-link {
    position: relative;
    .notification-number{
      position: absolute;
      top: 16px;
      left: 19px;
      background-color: $gold-color;
      color: $purple-color;
      border-radius: 50%;
      padding: 0px 5px;
      font-size: 12px;
      font-weight: 400;
    }
  }
}

