.search-bar {
  width: 100%;
  border-bottom: 1px solid #C4C4C4;
  padding: 15px 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  img {
    width: 20px;
     margin-right: 20px;
  }
  input {
    flex:1;
    font-size: 16px;
    border: none;
  }
}