@import '../variables';

.videoCall-wrapper {
  position: fixed;
  top:0;
  left: 0;
  background: black;
  width: 100vw;
  height: 100vh;

  #selfVideo {
    border: 1px solid #C4C4C4;
    width: 130px;
    height: 180px;
    position: absolute;
    bottom:0;
    right: 0px;
    video {
      height: 100%;
    }
  }
  #partnerVideo {
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    video {
      width: 100%;
      object-fit: fill;
      height: 100vh;
    }
  }
  .handUp-call {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 40px;
    cursor: pointer;
    width: 55px;
  }
}