.notification {
  display: flex;
  align-items: center;
  border: 0.5px solid #ececec; 
  .notification-img {
    width: 35px;
    min-width: 35px;
    margin-left: 20px;

  }
  .notification-text-container {
    margin-left: 20px;
    margin-bottom: 10px;
    .notification-title{
      font-size: 20px;
      font-weight: 600;
      margin-block-end: 0.2em;
      margin-bottom: 10px;
    }
    .notification-extra-info{
      display: flex;
      align-items: center;
      width: 250px;
      justify-content: space-between;
      color:  #7F7F7F;
    }
    .notification-date {
      font-size: 12px;
    }
  }
}
.notifications-container {
  margin-top: 40px;
}
.notification-text-container.notification-readed .notification-title {
  color: #7F7F7F;
}