@import '../../variables';

.header-profile{
  background-color: $purple-color;
  color: #fff;
  padding: 40px 15px 20px;
  font-family: $font-montserrat;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 100%;
  position: absolute;
  top: -20px;
  padding-top: 70px;
  * {
    color:white;
  }
}

.container-edit-form {
  width: 100%;
  padding:0px 20px;
  box-sizing: border-box;
}

.header-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second-level {
  margin: 25px 10px;
  padding: 30px 0;
}

.center-columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-family: $font-muli;
  div {
    margin-bottom: 10px;
  }
}

.img-header {
  width: 25px;
}
.user-name {
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.coins {
  display: flex;
  justify-content: center;
}

.img-profile {
  border-radius: 50%;
  background-color: $gold-color;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  .profile-image {
    width: 86px;
    height: 86px;
  }
}

.profile-image-container{
  display:flex;
  justify-content: center;
}
.img-profile-edit{
  position: absolute;
}

.avatar {
  width: 55px;
  height: 55px;
  margin: 7px;
  border-radius: 50%;
  position:relative;
}


.button-user {
  color: $purple-color;
  margin: 230px 0px 15px 5px;
  font-size: 16px;
  font-family: $font-montserrat;
  font-weight: 600;
  background-color: #fff;
  border-radius: 5px;
  border: 0px;
  padding: 5px;
}

.button-user-not {
  background-color: $purple-color;
  color: #fff;
}

.review-user {
  display: flex;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 15px 0px;
  width: 100%;
}
.review-image {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.review-container {
  margin-left: 20px
}

.review-star {
  width: 80px;
  height: 15px;
}

.review-content {
  border-radius: 15px;
  margin-block-end: 0.2em;
}

.header-edit {
  background-image: url('/src/assets/images/viewsofile/header-edit.png');
  height: 143px;
  width: 100%;
  top:0px;
  left: 0px;
}

.hidden {
  display: none; 
}

.profile-form {
  margin-top: 125px;
}

.text-edit {
  color: #fff;
  font-size: 20px;
  position: absolute;
  right: 20px;
}
.profile-image{
display:flex;
}
.button-bck-purple {
  cursor: pointer;
}
.not-info {
  margin-left: 15px;
}

.stars{
  font-size: 20px;
  display: flex;
  direction: rtl;
  justify-content: flex-end;
  margin-bottom: 15px;
  color: #a3a3a3;
  .stars-active{
    color:#ffcd05;
  }
}
