@import '../../variables';
.HeaderProfile{
  background-color: $purple-color;
  color: #fff;
  padding: 40px 15px 20px;
  font-family: $font-montserrat;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 100%;
  position: absolute;
  top: -20px;
}

.HeaderColumns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SecondLevel {
  margin: 25px 10px ;
}

.CenterColumns {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-family: $font-muli;
}

.ImgHeader {
  width: 25px;
}
.UserName {
  font-size: 18px;
  font-weight: bold;
}

.Gold {
  color: $gold-color;
}

.img-profile {
  border-radius: 50%;
  background-color: $gold-color;
  width: 70px;
  height: 70px;
}

.profile-image-container{
  display:flex;
  justify-content: center;
}
.img-profile-edit{
  position: absolute;
}

.avatar {
  width: 55px;
  height: 55px;
  margin: 7px;
  border-radius: 50%;
  position:relative;
}


.ButtonUser {
  color: $purple-color;
  margin: 250px 0px 15px 5px;
  font-size: 16px;
  font-family: $font-montserrat;
  font-weight: 600;
  background-color: #fff;
  border-radius: 5px;
  border: 0px;
  padding: 5px;
}

.ButtonUserNot {
  background-color: $purple-color;
  color: #fff;
}

.review-user {
  display: flex;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 0px 10px;
  width: 87.5%
}

.review-header{
  display: flex;
  justify-content: space-between;
}

.review-star {
  width: 80px;
  height: 15px;
}

.review-title{
  font-family: $font-montserrat;
  font-weight: 600;
  margin-block-start: 0.2em;

}

.review-content {
  border: 1px solid #E5E5E5;
  border-radius: 15px;
  padding: 10px;
}

.header-edit {
  background-image: url('/src/assets/images/viewsofile/header-edit.png');
  height: 143px;
  width: 100%;
  top:0px;
  left: 0px;
  // position: absolute;
  
}

.hidden {
  display: none; 
}

.profile-form {
  margin-top: 125px;
}

.text-edit {
  color: #fff;
  font-size: 20px;
  position: absolute;
  right: 20px;
}
<<<<<<< HEAD
.profile-image{
display:flex;
}

.not-info {
  margin-left: 15px;
}
=======
/**.profile-image{
  position: absolute;
  right: 150px;
  top: 60px;
}**/
>>>>>>> 40905a38db6af7d4b8f93976cefdab469c8e3c72
